Common/Resources/WSDLs/NGIN/meditelETU.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:ptinws="http://www.ptinovacao.pt/ws/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="provisioningWSDL"
    targetNamespace="http://www.ptinovacao.pt/ws/">
    <wsdl:types>
        <xsd:schema targetNamespace="http://www.ptinovacao.pt/ws/">

            <xsd:element name="DealerRechargePaymentRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="RequestId" type="xsd:string"/>
                        <xsd:element name="RequestOrigin" type="xsd:integer"/>
                        <xsd:element name="RequestDate" type="xsd:dateTime" minOccurs="0"/>
                        <xsd:element name="RequestType" type="xsd:integer"/>
                        <xsd:element name="RequestOption" type="xsd:integer"/>
                        <xsd:element name="DealerMSISDN" type="xsd:string"/>
                        <xsd:element name="PIN" type="xsd:string"/>
                        <xsd:element name="Amount" type="xsd:string"/>
                        <xsd:element name="CustomerMSISDN" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="DealerRechargePaymentReply">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Result" type="xsd:string"/>
                        <xsd:element name="RequestId" type="xsd:string"/>
                        <xsd:element name="TransactionId" type="xsd:integer" minOccurs="0"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            
            <xsd:element name="MessageException">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Result" type="xsd:string"/>
                        <xsd:element name="Description" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="DealerRechargePaymentRequest">
        <wsdl:part element="ptinws:DealerRechargePaymentRequest" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="DealerRechargePaymentReply">
        <wsdl:part element="ptinws:DealerRechargePaymentReply" name="parameters"/>
    </wsdl:message>
    
    <wsdl:message name="MessageException">
        <wsdl:part element="ptinws:MessageException" name="parameters"/>
    </wsdl:message>

    <wsdl:portType name="meditelETUWSPortType">

        <wsdl:operation name="DealerRechargePayment">
            <wsdl:input message="ptinws:DealerRechargePaymentRequest"/>
            <wsdl:output message="ptinws:DealerRechargePaymentReply"/>
            <wsdl:fault name="MessageException" message="ptinws:MessageException"/>
        </wsdl:operation>
        
    </wsdl:portType>

    <wsdl:binding name="meditelETUWS" type="ptinws:meditelETUWSPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        
        <wsdl:operation name="DealerRechargePayment">
            <soap:operation soapAction="http://www.ptinovacao.pt/ws/dealerRechargePayment"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="MessageException">
                <soap:fault name="MessageException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
                
    </wsdl:binding>

    <wsdl:service name="meditelETUWS">
        <wsdl:port binding="ptinws:meditelETUWS" name="meditelETUWS">
            <soap:address location="http://www.example.org/"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>