CCU/Resources/YAMLs/PublicKey/api.wsdl

<wsdl:definitions name="publicKey" targetNamespace="http://orange.com/OrangeMaroc_APIs/api/publicKey/v0/soap11" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ws="http://orange.com/OrangeMaroc_APIs/api/publicKey/v0/soap11" xmlns:msg="http://orange.com/OrangeMaroc_APIs/api/publicKey/v0/message" xmlns:mod="http://orange.com/OrangeMaroc_APIs/api/publicKey/v0/model">
   <wsdl:documentation>Service: publicKey
            Version: 0.1.0_inProgress
            Owner: OrangeMaroc_APIs
            Generated on: 2018-03-30T16:51:00.399Z
            Generated by: Orange API Designer v2, wsdl-v1</wsdl:documentation>
   <wsdl:types>
      <xs:schema targetNamespace="http://orange.com/OrangeMaroc_APIs/api/publicKey/v0/message" xmlns:xs="http://www.w3.org/2001/XMLSchema">
         <xs:import schemaLocation="model.xsd" namespace="http://orange.com/OrangeMaroc_APIs/api/publicKey/v0/model"/>
         <xs:element name="publicKeyFind" type="msg:publicKeyFind">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:complexType name="publicKeyFind">
            <xs:sequence>
               <xs:element name="name" type="xs:string" minOccurs="0">
                  <xs:annotation>
                     <xs:documentation source="public">Pour faire une recherche à partir d'un MSISDN</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="category" type="xs:string" minOccurs="0">
                  <xs:annotation>
                     <xs:documentation source="public">Pour introduire le critère de la catégorie</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="lifecycleState" type="xs:string" minOccurs="0">
                  <xs:annotation>
                     <xs:documentation source="public">Pour chercher par statut</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="affix" type="xs:string" minOccurs="0">
                  <xs:annotation>
                     <xs:documentation source="public">pour chercher par une plage</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="publicKeyPool.name" type="xs:string" minOccurs="0">
                  <xs:annotation>
                     <xs:documentation source="public">Aucun besoin n'a été identifié</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="limit" type="xs:string" minOccurs="0">
                  <xs:annotation>
                     <xs:documentation source="public">Pour limiter le nombre de MSISDN retournés dans la réponse</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:complexType>
         <xs:element name="publicKeyFindResponse" type="msg:publicKeyFindResponse"/>
         <xs:complexType name="publicKeyFindResponse">
            <xs:sequence>
               <xs:element name="publicKey" type="mod:PublicKey" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
         </xs:complexType>
         <xs:element name="publicKeyCancel" type="msg:publicKeyCancel">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:complexType name="publicKeyCancel">
            <xs:sequence>
               <xs:element name="cancelConstraints" type="mod:Resource" minOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="public"/>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:complexType>
         <xs:element name="publicKeyCancelResponse" type="msg:publicKeyCancelResponse"/>
         <xs:complexType name="publicKeyCancelResponse">
            <xs:sequence>
               <xs:element name="publicKey" type="mod:PublicKey" minOccurs="0"/>
            </xs:sequence>
         </xs:complexType>
         <xs:element name="publicKeyReserve" type="msg:publicKeyReserve">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:complexType name="publicKeyReserve">
            <xs:sequence>
               <xs:element name="reserveConstraints" type="mod:Reserve" minOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="public"/>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:complexType>
         <xs:element name="publicKeyReserveResponse" type="msg:publicKeyReserveResponse"/>
         <xs:complexType name="publicKeyReserveResponse">
            <xs:sequence>
               <xs:element name="publicKey" type="mod:PublicKey" minOccurs="0"/>
            </xs:sequence>
         </xs:complexType>
         <xs:element name="faultCode400" type="mod:Error"/>
         <xs:element name="faultCode404" type="mod:Error"/>
         <xs:element name="faultCode422" type="mod:Error"/>
         <xs:element name="faultCode500" type="mod:Error"/>
         <xs:element name="faultCode503" type="mod:Error"/>
      </xs:schema>
   </wsdl:types>
   <wsdl:message name="publicKeyFind">
      <wsdl:part name="parameters" element="msg:publicKeyFind"/>
   </wsdl:message>
   <wsdl:message name="publicKeyFindResponse">
      <wsdl:part name="parameters" element="msg:publicKeyFindResponse"/>
   </wsdl:message>
   <wsdl:message name="publicKeyCancel">
      <wsdl:part name="parameters" element="msg:publicKeyCancel"/>
   </wsdl:message>
   <wsdl:message name="publicKeyCancelResponse">
      <wsdl:part name="parameters" element="msg:publicKeyCancelResponse"/>
   </wsdl:message>
   <wsdl:message name="publicKeyReserve">
      <wsdl:part name="parameters" element="msg:publicKeyReserve"/>
   </wsdl:message>
   <wsdl:message name="publicKeyReserveResponse">
      <wsdl:part name="parameters" element="msg:publicKeyReserveResponse"/>
   </wsdl:message>
   <wsdl:message name="faultCode400">
      <wsdl:part name="fault" element="msg:faultCode400"/>
   </wsdl:message>
   <wsdl:message name="faultCode404">
      <wsdl:part name="fault" element="msg:faultCode404"/>
   </wsdl:message>
   <wsdl:message name="faultCode422">
      <wsdl:part name="fault" element="msg:faultCode422"/>
   </wsdl:message>
   <wsdl:message name="faultCode500">
      <wsdl:part name="fault" element="msg:faultCode500"/>
   </wsdl:message>
   <wsdl:message name="faultCode503">
      <wsdl:part name="fault" element="msg:faultCode503"/>
   </wsdl:message>
   <wsdl:portType name="publicKey">
      <wsdl:documentation/>
      <wsdl:operation name="publicKeyFind">
         <wsdl:documentation><!--                    
                        [public]--></wsdl:documentation>
         <wsdl:input name="publicKeyFindRequest" message="ws:publicKeyFind"/>
         <wsdl:output name="publicKeyFindResponse" message="ws:publicKeyFindResponse"/>
         <wsdl:fault name="faultCode400" message="ws:faultCode400"/>
         <wsdl:fault name="faultCode404" message="ws:faultCode404"/>
         <wsdl:fault name="faultCode422" message="ws:faultCode422"/>
         <wsdl:fault name="faultCode500" message="ws:faultCode500"/>
         <wsdl:fault name="faultCode503" message="ws:faultCode503"/>
      </wsdl:operation>
      <wsdl:operation name="publicKeyCancel">
         <wsdl:documentation><!--                    
                        [public]--></wsdl:documentation>
         <wsdl:input name="publicKeyCancelRequest" message="ws:publicKeyCancel"/>
         <wsdl:output name="publicKeyCancelResponse" message="ws:publicKeyCancelResponse"/>
         <wsdl:fault name="faultCode400" message="ws:faultCode400"/>
         <wsdl:fault name="faultCode404" message="ws:faultCode404"/>
         <wsdl:fault name="faultCode422" message="ws:faultCode422"/>
         <wsdl:fault name="faultCode500" message="ws:faultCode500"/>
         <wsdl:fault name="faultCode503" message="ws:faultCode503"/>
      </wsdl:operation>
      <wsdl:operation name="publicKeyReserve">
         <wsdl:documentation><!--                    
                        [public]--></wsdl:documentation>
         <wsdl:input name="publicKeyReserveRequest" message="ws:publicKeyReserve"/>
         <wsdl:output name="publicKeyReserveResponse" message="ws:publicKeyReserveResponse"/>
         <wsdl:fault name="faultCode400" message="ws:faultCode400"/>
         <wsdl:fault name="faultCode404" message="ws:faultCode404"/>
         <wsdl:fault name="faultCode422" message="ws:faultCode422"/>
         <wsdl:fault name="faultCode500" message="ws:faultCode500"/>
         <wsdl:fault name="faultCode503" message="ws:faultCode503"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="publicKey.soap11.binding" type="ws:publicKey">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="publicKeyFind">
         <soap:operation soapAction="http://orange.com/OrangeMaroc_APIs/api/publicKey/v0/soap11/publicKeyFind"/>
         <wsdl:input name="publicKeyFindRequest">
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="publicKeyFindResponse">
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="faultCode400">
            <soap:fault use="literal" name="faultCode400"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode404">
            <soap:fault use="literal" name="faultCode404"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode422">
            <soap:fault use="literal" name="faultCode422"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode500">
            <soap:fault use="literal" name="faultCode500"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode503">
            <soap:fault use="literal" name="faultCode503"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="publicKeyCancel">
         <soap:operation soapAction="http://orange.com/OrangeMaroc_APIs/api/publicKey/v0/soap11/publicKeyCancel"/>
         <wsdl:input name="publicKeyCancelRequest">
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="publicKeyCancelResponse">
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="faultCode400">
            <soap:fault use="literal" name="faultCode400"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode404">
            <soap:fault use="literal" name="faultCode404"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode422">
            <soap:fault use="literal" name="faultCode422"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode500">
            <soap:fault use="literal" name="faultCode500"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode503">
            <soap:fault use="literal" name="faultCode503"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="publicKeyReserve">
         <soap:operation soapAction="http://orange.com/OrangeMaroc_APIs/api/publicKey/v0/soap11/publicKeyReserve"/>
         <wsdl:input name="publicKeyReserveRequest">
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="publicKeyReserveResponse">
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="faultCode400">
            <soap:fault use="literal" name="faultCode400"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode404">
            <soap:fault use="literal" name="faultCode404"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode422">
            <soap:fault use="literal" name="faultCode422"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode500">
            <soap:fault use="literal" name="faultCode500"/>
         </wsdl:fault>
         <wsdl:fault name="faultCode503">
            <soap:fault use="literal" name="faultCode503"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="publicKey">
      <wsdl:documentation>Service: publicKey
            Version: 0.1.0_inProgress
            Owner: OrangeMaroc_APIs
            Generated on: 2018-03-30T16:51:00.399Z
            Generated by: Orange API Designer v2, wsdl-v1</wsdl:documentation>
      <wsdl:port name="publicKey.soap11.port" binding="ws:publicKey.soap11.binding">
         <soap:address location="http://localhost/changeIt"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>