CCU/Resources/YAMLs/PublicKey/model.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xmime="http://www.w3.org/2005/05/xmlmime"
           xmlns="http://orange.com/OrangeMaroc_APIs/api/publicKey/v0/model"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           attributeFormDefault="unqualified"
           elementFormDefault="qualified"
           targetNamespace="http://orange.com/OrangeMaroc_APIs/api/publicKey/v0/model">
   <xs:annotation id="signature">
      <xs:appinfo>API Designer</xs:appinfo>
      <xs:documentation>Model: publicKey
                    Version: 0.1.0_inProgress
                    Owner: OrangeMaroc_APIs
                    Generated on: 2018-03-30T16:51:00.405Z
                    Generated by: Orange API Designer v2, model-v1</xs:documentation>
   </xs:annotation>
   <xs:element name="ErrorDetail" type="ErrorDetail">
      <xs:annotation>
         <xs:documentation source="public"/>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="ErrorDetail">
      <xs:annotation>
         <xs:documentation source="public"/>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="code" type="xs:int" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="message" type="xs:string" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="description" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="infoURL" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="Error" type="Error"/>
   <xs:complexType name="Error">
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="code" type="xs:int" minOccurs="1"/>
         <xs:element name="message" type="xs:string" minOccurs="1"/>
         <xs:element name="description" type="xs:string" minOccurs="0"/>
         <xs:element name="infoURL" type="xs:string" minOccurs="0"/>
         <xs:element name="details"
                     type="ErrorDetail"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="TimePeriod" type="TimePeriod"/>
   <xs:complexType name="TimePeriod">
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="startDateTime" type="xs:dateTime" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="Nouvelle catégorie 1">Start date of the validity period - Date format ISO 8601</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="endDateTime" type="xs:dateTime" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="Nouvelle catégorie 1">End date of the validity period - Date format ISO 8601</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="PublicKey" type="PublicKey">
      <xs:annotation>
         <xs:documentation source="public"/>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="PublicKey">
      <xs:annotation>
         <xs:documentation source="public"/>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="id" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
               <xs:documentation source="Nouvelle catégorie 1">Number in national or international notation (E164 norm)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="href" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
               <xs:documentation source="Nouvelle catégorie 1">Link to the resource</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="name" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
               <xs:documentation source="Nouvelle catégorie 1">Type of the public key : MSISDN, PTSN,…</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="description" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
               <xs:documentation source="Nouvelle catégorie 1">Free description text</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="lifecycleState" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
               <xs:documentation source="Nouvelle catégorie 1">Lifecycle status of the number : Available, Reserved, Activated or Suspended</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="validFor" type="TimePeriod" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
               <xs:documentation source="Nouvelle catégorie 1">Validity period of the given lifecycle state</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="category" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
               <xs:documentation source="Nouvelle catégorie 1">Public key category like Gold number, Silver Number,…</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="publicKeyPool" type="PublicKeyPool" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
               <xs:documentation source="Nouvelle catégorie 1">A public key could belong to a set according to some characteristics</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="relatedParty"
                     type="RelatedParty"
                     minOccurs="0"
                     maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation source="public"/>
               <xs:documentation source="Nouvelle catégorie 1">Related parties who play a role on the public key</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="basket" type="Basket" minOccurs="0"/>
         <xs:element name="defaultChannel" type="xs:string" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="PublicKeyPool" type="PublicKeyPool"/>
   <xs:complexType name="PublicKeyPool">
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="name" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="Nouvelle catégorie 1">Pool name</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="relatedParty" type="RelatedParty" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="Nouvelle catégorie 1">Related party who manages the public keys pool</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="RelatedParty" type="RelatedParty">
      <xs:annotation>
         <xs:documentation source="public"/>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="RelatedParty">
      <xs:annotation>
         <xs:documentation source="public"/>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="id" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
               <xs:documentation source="Nouvelle catégorie 1">Unique identifier of the party</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="identification"
                     type="Identification"
                     minOccurs="0"
                     maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation source="public">represents our registration of information used as proof of identity by an individual (passport, national identity card, driver's license, social security number, birth certificate)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="href" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
               <xs:documentation source="Nouvelle catégorie 1">Link to the resource</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="name" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
               <xs:documentation source="Nouvelle catégorie 1">Party name</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="role" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
               <xs:documentation source="Nouvelle catégorie 1">Role played by the party : operator, distributor,…</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="Reserve" type="Reserve">
      <xs:annotation>
         <xs:documentation source="public"/>
         <xs:documentation source="Nouvelle catégorie 1">Reservation constraints</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="Reserve">
      <xs:annotation>
         <xs:documentation source="public"/>
         <xs:documentation source="Nouvelle catégorie 1">Reservation constraints</xs:documentation>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="wishedPublicKey" type="WishedPublicKey" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
               <xs:documentation source="Nouvelle catégorie 1">A specific public key and its type</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="quantity" type="xs:int" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
               <xs:documentation source="Nouvelle catégorie 1">A quantity to reserve</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="isSequential" type="xs:boolean" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
               <xs:documentation source="Nouvelle catégorie 1">Indication that the reserved numbers must be sequential</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="category" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
               <xs:documentation source="Nouvelle catégorie 1">Category of the public key (Gold numbers for example) specifying that the customer wants a phone number easy to remember</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="publicKeyPool" type="PublicKeyPool" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
               <xs:documentation source="Nouvelle catégorie 1">A public key could belong to a set according to some characteristics</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="currentPublicKey" type="CurrentPublicKey" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
               <xs:documentation source="Nouvelle catégorie 1">An existing public key identifier in case of public key swap</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="relatedParty"
                     type="RelatedParty"
                     minOccurs="0"
                     maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation source="public"/>
               <xs:documentation source="Nouvelle catégorie 1">Related parties who play a role on the public key</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="address" type="Address" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="basket" type="Basket" minOccurs="0"/>
         <xs:element name="defaultChannel" type="xs:string" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="WishedPublicKey" type="WishedPublicKey">
      <xs:annotation>
         <xs:documentation source="Nouvelle catégorie 1">A specific wished public key</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="WishedPublicKey">
      <xs:annotation>
         <xs:documentation source="Nouvelle catégorie 1">A specific wished public key</xs:documentation>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="id" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="Nouvelle catégorie 1">Public key identifier</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="name" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="Nouvelle catégorie 1">Type of the public key : MSISDN, PTSN,…</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="CurrentPublicKey" type="CurrentPublicKey">
      <xs:annotation>
         <xs:documentation source="Nouvelle catégorie 1">Current public key in the case of public key swap</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="CurrentPublicKey">
      <xs:annotation>
         <xs:documentation source="Nouvelle catégorie 1">Current public key in the case of public key swap</xs:documentation>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="id" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="Nouvelle catégorie 1">Current public key identifier</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="Address" type="Address">
      <xs:annotation>
         <xs:documentation source="Nouvelle catégorie 1">Site address for fix public key reservation according to the area of the customer installed address</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="Address">
      <xs:annotation>
         <xs:documentation source="Nouvelle catégorie 1">Site address for fix public key reservation according to the area of the customer installed address</xs:documentation>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="id" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="Nouvelle catégorie 1">Unique identifier of the site</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="Resource" type="Resource">
      <xs:annotation>
         <xs:documentation source="public"/>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="Resource">
      <xs:annotation>
         <xs:documentation source="public"/>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="id" type="xs:string" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public"/>
               <xs:documentation source="Nouvelle catégorie 1">Public key identifier</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="basket" type="Basket" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="defaultChannel" type="xs:string" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="Basket" type="Basket">
      <xs:annotation>
         <xs:documentation source="public"/>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="Basket">
      <xs:annotation>
         <xs:documentation source="public"/>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="id" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Identifiant du panier</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="Identification" type="Identification">
      <xs:annotation>
         <xs:documentation source="public"/>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="Identification">
      <xs:annotation>
         <xs:documentation source="public"/>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="type" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Identification type (passport, national identity card, driver's license, social security number, birth certificate)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="identificationId" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">identifier</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="issuingDate" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Date at which the identifier was issued</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
</xs:schema>