CCU/Resources/nXSDs/PublicKey/api_YAML.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://orange.com/OrangeMaroc_APIs/api/publicKey/v0/model/rest" nxsd:version="JSON" nxsd:encoding="UTF-8" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" xmlns="http://orange.com/OrangeMaroc_APIs/api/publicKey/v0/model/rest" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mod="http://orange.com/OrangeMaroc_APIs/api/publicKey/v0/model" xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd">

  <xs:import schemaLocation="../../YAMLs/PublicKey/model.xsd" namespace="http://orange.com/OrangeMaroc_APIs/api/publicKey/v0/model"/>
  <xs:element name="reserveConstraints" type="mod:Reserve"/>
  <xs:element name="cancelConstraints" type="mod:Resource"/>

  <xs:element name="publicKey" type="mod:PublicKey"/>
  
  <xs:element name="PublicKeyArray" type="PublicKeyArray"/>
  <xs:complexType name="PublicKeyArray">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="PublicKey" type="mod:PublicKey"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ErrorDetail" type="ErrorDetail">
    <xs:annotation>
      <xs:documentation source="public"/>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="ErrorDetail">
    <xs:annotation>
      <xs:documentation source="public"/>
    </xs:annotation>
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element name="code" type="xs:int" minOccurs="1">
        <xs:annotation>
          <xs:documentation source="public"/>
        </xs:annotation>
      </xs:element>
      <xs:element name="message" type="xs:string" minOccurs="1">
        <xs:annotation>
          <xs:documentation source="public"/>
        </xs:annotation>
      </xs:element>
      <xs:element name="description" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation source="public"/>
        </xs:annotation>
      </xs:element>
      <xs:element name="infoURL" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation source="public"/>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="error" type="Error"/>
  <xs:complexType name="Error">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element name="code" type="xs:int" minOccurs="1"/>
      <xs:element name="message" type="xs:string" minOccurs="1"/>
      <xs:element name="description" type="xs:string" minOccurs="0"/>
      <xs:element name="infoURL" type="xs:string" minOccurs="0"/>
      <xs:element name="details" type="ErrorDetail" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>